<!DOCTYPE html>
<html>
<head>
  <title>Grievance Officer Login</title>
</head>
<body>
  <h2>Grievance Officer Login</h2>

  <form method="POST" action="/auth/login-grievance">
    <label>Email:</label>
    <input type="text" name="email" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
  </form>

  <a href="/">Back</a>
</body>
</html>
